	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/05/2019 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41dd41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-analytics:before { content: "\f100"; }
.flaticon-worldwide:before { content: "\f101"; }
.flaticon-internet:before { content: "\f102"; }
.flaticon-handshake:before { content: "\f103"; }
.flaticon-file:before { content: "\f104"; }
.flaticon-contract:before { content: "\f105"; }
.flaticon-business-and-finance:before { content: "\f106"; }
.flaticon-creative:before { content: "\f107"; }
.flaticon-pie-chart:before { content: "\f108"; }
.flaticon-money-bag:before { content: "\f109"; }
.flaticon-money:before { content: "\f10a"; }
.flaticon-quote:before { content: "\f10b"; }
.flaticon-left-quote:before { content: "\f10c"; }
.flaticon-mail:before { content: "\f10d"; }
.flaticon-envelope:before { content: "\f10e"; }
.flaticon-email:before { content: "\f10f"; }
.flaticon-call:before { content: "\f110"; }
.flaticon-phone-call:before { content: "\f111"; }